@import 'theme';
$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';
@import '~vuetify-scss';
.v-text-field.v-input--is-focused > .v-input__control > .v-input__slot::after {
    display: none;
}
.v-list.theme--light {
    background: #f5f5f5!important;

}
.v-menu__content.theme--light.v-autocomplete__content {
    box-shadow: 0px 9px 9px -7px rgba(0,0,0,0.1)!important;
    top: 48px !important;
    @media screen and (max-width: 767px) {
        left: 0px !important;
    }
    @media screen and (min-width: 958px) {
        top: 64px!important;
    }
}
.widget.finance-questionnaries {
    top: -30px;
    @media screen and (min-width: 768px) {
        top: -49px;
    }
    position: relative;
    z-index: 100000;
    margin-bottom: 10px !important;
}
// .theme--dark {
//     background: red!important;
// }
#qfp-app {
    .application--wrap {
        min-height: auto;
        min-width: 280px;
    }
    input {
        border: none;
    }
    hr.v-divider {
        display: block;
        flex: 1 1 0px;
        max-width: 100%;
        height: 0;
        max-height: 0;
        border-style: solid;
        border-width: thin 0 0;
        -webkit-transition: inherit;
        transition: inherit;
        border-color: rgba(0, 0, 0, 0.12);
    }
    .v-card {
        .v-card__text {
            min-height: 250px;
        }
    }
    .v-input__slot {
        margin-bottom: 0;
        box-shadow: none!important;
    }
    a {
        text-decoration: none;
        &.v-btn {
            text-decoration: none;
        }
    }
    .v-overflow-btn .v-select__slot {
        height: 35px;
        text-transform: uppercase;
        // background: #606060;
        color: #606060;
        label,
        .v-select__selection {
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            color: #606060;
            text-transform: uppercase;
            cursor: pointer;
        }
        input {
            // display: none;
            width: 0;
            background: #1976d2;
            color: #fff;
        }
    }
    .theme--dark.v-icon {
        color: #606060;
        &.primary--text {
            // color: #fff !important;
        }
    }
    .v-text-field .v-input__append-inner {
        height: 100%;
        cursor: pointer;
    }

    .questionnaireWidget {
        .dropdown {
            min-width: 110px;
            margin-top: 11px;
            &.v-text-field {
                padding-top: 0;
            }
        }
    }
    .v-card__text {
        position: relative;
    }
    .label {
        &.scale {
            position: absolute;
            top: 100px;
            &.min {
                left: 20px;
            }
            &.max {
                right: 20px;
            }
        }
    }
}

.v-toolbar__content {
    .v-btn {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
        }

        &.active-questionnaire {
            &:before {
                background-color: currentColor;
            }
            background: transparent!important;
            color: #606060!important;
        }
    }
}

.v-input.mobile-only {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.v-input.desktop-only {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.result .v-toolbar {
    box-shadow: none !important;
    background: none !important;

    .v-toolbar__content {
        margin-left: 0 !important;
    }

    .v-toolbar__title {
        color: #606060!important;
    }
}

.v-stepper__wrapper {
    .accent--text, .primary--text {
        color: #5BF4A3 !important;
        caret-color: #5BF4A3 !important;

        &.v-btn {
            color: #fff !important;
        }
    }

    .primary {
        background-color: #5BF4A3 !important;
        border-color: #5BF4A3 !important;
    }
}

.questionnaire .ml-0.v-btn.theme--light.primary {
    background-color: #5BF4A3 !important;
    border-color: #5BF4A3 !important;
}

.questionnaire {
    .v-stepper__step--active .v-stepper__step__step, .v-stepper__step--complete .v-stepper__step__step {
        background-color: #5BF4A3 !important;
    }
}